@font-face {
  font-family: 'NPSfontBold';
  src:
    url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}


* {
  font-family: 'NPSfontBold';
}

body {
  margin: 0 auto;
}

.App {
  /* max-width: 최대넓이 */
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px;
  /* border: 1px solid gray; */
  display: flex;
  flex-direction: column;
  /* gap은 컴포넌트에서 자식 요소간의 여백을 조절하는 속성 */
  gap: 30px;
}