* {
    /* border: 1px solid black; */
}
.diaryItem {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e2e2e2;
    display: flex;
    justify-content: space-between;
}
.diaryItem .img_section{
    cursor: pointer;
    min-width: 120px;
    height: 80px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
.diaryItem .img_section_1 {
    background-color: #64c964;
}

.diaryItem .img_section_2 {
    background-color: #9dd772;
}

.diaryItem .img_section_3 {
    background-color: #fdce17;
}

.diaryItem .img_section_4 {
    background-color: #fd8446;
}

.diaryItem .img_section_5 {
    background-color: #fd565f;
}

.diaryItem .img_section img {
    width: 60%;
}
.diaryItem .info_section{
    flex-grow: 1;
    margin-left: 20px;
    cursor: pointer;
}
.diaryItem .info_section .date_wrapper{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5px;
}
.diaryItem .info_section .content_wrapper{
    font-size: 18px;
}
.diaryItem .info_section .button_section{
    min-width: 70px;
    
}